/*External CSS*/

body {
	background-image: url("../images/hello-world.png");
	background-attachment: fixed;
	background-repeat: no-repeat;
	background-size: cover;
	border: 2px solid hotpink;
	padding: 20px;
	color: white;
}

.head {
	font-family: Century Gothic;
	font-weight: bolder;
	text-align: center;
}

.head h1 {
	font-size: 30px;
	font-weight: bolder;
}	

.head h2 {
	color: white;
	font-family: Arial;
	font-weight: bold;
}

.head h2 a{
	text-decoration: none;
	color: white;
}

.head h2 a:hover {
	border: 2px solid white;
	border-radius: 8px;
	transition: ease-in 0.3s;
	background: white;
	color: black;
}
.prof_img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  overflow: hidden;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.prof_img img {
  width: 100%;
  height: 100%;
  display: block;
}

.self-intro h3{
	background-color: white;
	color: black;
	font-family: Arial;
	text-align: left;
}

.edubackground h4 {
	background-color: white;
	color: black;
	font-family: Arial;
	text-align: left;
}

.edubackground table, th, td {
	border: 1px solid white;
	border-collapse: collapse;
	padding: 8px;
}

.edubackground table {
	width: 100%;
}

.edubackground th {
	background-color: white;
	color: black;
	font-weight: bold;
}

.level {
	font-weight: bold;
}

.expertise h3 {
	background-color: white;
	color: black;
	font-family: Arial;
	text-align: left;
}

.expertise ul li{
	list-style-type: square;
	font-family: Arial;
	text-align: left;
}

.infoIT h4 {
	background-color: white;
	color: black;
	font-family: Arial;
	text-align: left;
}

.app_used h4 {
	background-color: white;
	color: black;
	font-family: Arial;
	text-align: left;
}